run = "pip install -r requirements-replit.txt && python backend.py"

[nix]
channel = "stable-22_11"

[nix.env]
PYTHONPATH = "$PWD"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = ["sh", "-c", "pip install -r requirements-replit.txt && python backend.py"]
